# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Runtime
run/
runs/

# IDE - IntelliJ
.idea/
*.iml
*.ipr
*.iws

# IDE - VSCode
.vscode/

# IDE - Eclipse
.settings/
.classpath
.project
bin/

# IDE - NetBeans
nbproject/
nbbuild/
nbdist/
.nb-gradle/

# IDE - misc
out/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Fabric Loom
remappedSrc/

# Logs
*.log
